body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to left, yellow,lightblue);
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background-color: aliceblue;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,.4);
    width: 450px;
    text-align: center;
}

.header{
    font-size: 25px;
    font-weight: 600;
}

.btn{
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    background: green;
    color: aliceblue;
    width: 200px;
    border-radius: 5px;
    font-size: 16px;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 6px 6px rgba(0,0,0,.4);
}
.btn:disabled{
    background-color: grey;
    cursor: not-allowed;
}
.anime-name{
    background: green;
    color: aliceblue;
    border-radius: 5px;
    margin: 20px;
    padding: 15px;
    font-size: 17px;
    font-weight: 600;
}
.anime-img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid green;
}
.anime-container{
    display: none;
}
